### Write a program to print helllo

In [1]:
print("Hello")

Hello

### write a program to print addition of two numbers

In [2]:
a=3
b=4
a+b

7

### input taken from user

In [4]:
num1=int(input("enter the value of num1:"))
num2=int(input("enter the value of num2:"))
print("addition of num1 and numm2 is:",num1+num2)

enter the value of num1: 23
enter the value of num2: 23

addition of num1 and numm2 is: 46

In [5]:
x=float(input("enter the value of x:"))
y=float(input("enter the value of y:"))
print("addition of x and y:",x+y)

enter the value of x: 4.6
enter the value of y: 5.8

addition of x and y: 10.399999999999999

In [6]:
a=3.5
b=1.3
a+b

4.8

### write program to print area of rectangle

In [7]:
#area=l*b

In [12]:

length =float(input("enter the value of length:"))
breadth =float(input("enter the value of breadth:"))
print(f"Area of rectangle with length{l} and breadth{b} is {area}")

enter the value of length: 3.5
enter the value of breadth: 2.5

Area of rectangle with length3.5 and breadth2.5 is 8.75

In [11]:
l =float(input("enter the value of l:"))
b =float(input("enter the value of b:"))
area=l*b
print("Area of rectangle is:",area)

enter the value of l: 3.5
enter the value of b: 2.5

Area of rectangle is: 8.75

In [ ]:
name="neha"
age=25
height =5.3
print("my name is ",name,"and my age is ",age,"height",height)

In [15]:
print(f"my name is {name} and my age is {age} and height is {height }")

my name is neha and my age is 25 and height is 5.3

### write a program to calculate simple interest taking input from user

In [22]:
p = float(input("Enter Principal amount: "))
r = float(input("Enter Rate of Interest: "))
t = float(input("Enter Time (in month): "))

si = (p * r * t) / 100
print(f"Simple Interest is {si}")

Enter Principal amount:  1000
Enter Rate of Interest:  10
Enter Time (in month):  5

Simple Interest is 500.0

### write a program to calculate the cube of entered number

In [12]:
num = int(input("Enter a number: "))
cube = num ** 3      #num=3**3
print(f"Cube of {num} is {cube}")

Enter a number:  3

Cube of 3 is 27

### write a program to take any employee details and display it

In [23]:
emp_id = input("Enter Employee ID: ")
emp_name = input("Enter Employee Name: ")
emp_salary = int(input("Enter Employee Salary: "))

print(f"""Employee Details
ID is {emp_id}
Name is {emp_name}
salary is {emp_salary}""")

Enter Employee ID:  1
Enter Employee Name:  Pranav
Enter Employee Salary:  50000

Employee Details
ID is 1
Name is Pranav
salary is 50000

### write a program to take a number from user decrement the value by 3

In [1]:
num = int(input("Enter a number: "))
num -= 3
print(f"Value after decrement is {num}")

Enter a number:  14

Value after decrement is 11

# Conditional statements
### Write a program to find greater number between two entered numbers

In [3]:
A=int(input("enter first number:"))
B=int(input("enter second number:"))
if A>B:
    print("The Number A:",A,"is greater than number B:",B)
else:
    print("The Number A:" ,A," is less than number B:",B)

enter first number: 12
enter second number: 25

The Number A: 12  is less than number B: 25

### Write a program to find to entered numbers are equal or not

In [4]:
a=int(input("enter first number:"))
b=int(input("enter second number:"))
if a!=b:
    print("Number are equal:")
else:
    print("Number are not equal:")

enter first number: 20
enter second number: 21

Number are equal:

### Write a program to find entered number is positive or negative

In [5]:
num=int(input("enter a number:"))
if num>0:
    print("the number is positive:")
else:
    print("the number is negative:")

enter a number: -1

the number is negative:

### wirte a program  to find the nummber is even or odd

In [7]:
num=int(input("enter the number :"))
if num%2==0:
    print("the number is even:")
else:
    print("the number is odd:")

enter the number : 3

the number is odd:

In [10]:
### write a program to for while loop
num=int(input("enter the value of num:"))
i=1
while i<=num:
    print(i)
    i+=1

enter the value of num: 5

1
2
3
4
5

In [11]:
## for factorial
#n!=n*n-1-n-2*...*1
f=1
for i in range(1,5):
    f=f*i
    #f=1*1=1
    #f=1*2=2
    #f=2*3=6
    #f=6*4=24
print(f)

24

In [13]:
f=1
for i in range(1,5):
    f=f*i
    #f=1*1=1
    #f=1*2=2
    #f=2*3=6
    #f=6*4=24
print("factorial of 3 is",f)

factorial of 3 is 24

### Write a program to print Check whether a character is vowel or not

In [6]:
ch = input("Enter a character: ")
if ch in ['a', 'e', 'i', 'o', 'u']:
    print("The character is a vowel")
else:
    print("The character is not a vowel")

Enter a character:  a

The character is a vowel

### write a program to Print day of the week by user

In [5]:
day = int(input("Enter day number in a week : "))
if day == 1:
    print("day is Monday") 
elif day == 2:
    print("day is Tuesday")
elif day == 3:
    print("day is Wednesday") 
elif day == 4:    
    print("day is Thursday")
elif day == 5:    
    print("day is Friday")
elif day == 6:     
    print("day is Saturday") 
elif day == 7:    
    print("day is Sunday")
else:  
    print("Invalid day number")

Enter day number in a week :  6

day is Saturday

### Write a program to print Arithmetic operations using operator by user value

In [9]:
a = int(input("Enter first number: ")) 
b = int(input("Enter second number: "))
op = input("Enter operator (+, -, *, %,/): ")
if op == '+':
    print("Result:", a + b) 
elif op == '-':
    print("Result:", a - b) 
elif op == '*':
    print("Result:", a * b)
elif op == '%':    
        print("Result:", a % b)
elif op=='/':
    print("Result:",a / b)
else:
    print("Invalid operator")

Enter first number:  5
Enter second number:  4
Enter operator (+, -, *, %,/):  +

Result: 9

## Logical statements

#### write a to print check entered character is vowel or not by user

In [7]:
ch = input("Enter a character: ")
if ch == 'a' or ch == 'e' or ch == 'i' or ch == 'o' or ch == 'u':
    print("Entered character is a Vowel")
else:    
    print("Entered character is NOT a Vowel")

Enter a character:  f

Entered character is NOT a Vowel

#### write a program to print weekday or weekend

In [4]:
day = int(input("Enter day number : "))
if day >= 1 and day <= 5:
    print("Weekday") 
elif day == 6 or day == 7:
    print("Weekend") 
else:    
    print("Invalid Day")

Enter day number :  8

Invalid Day

#### write a program to print find greatest among three numbers

In [5]:
a = int(input("Enter first number: ")) 
b = int(input("Enter second number: "))
c = int(input("Enter third number: "))
if a >= b and a >= c:
    print("Greatest number is:", a)
elif b >= a and b >= c:
    print("Greatest number is:", b) 
else:    
    print("Greatest number is:", c)

Enter first number:  7
Enter second number:  6
Enter third number:  8

Greatest number is: 8

### write a program  to print Candidate recruitment based on criteria

In [6]:
gender = input("Enter gender (male/female): ") 
age = int(input("Enter age: ")) 
height = int(input("Enter height in cm: "))
if gender == "male" and age > 30 and height > 160:
    print("Candidate is Selected")
elif gender == "female" and age > 25 and height > 155:
    print("Candidate is Selected") 
else:
    print("Candidate is Not Selected")

Enter gender (male/female):  male
Enter age:  34
Enter height in cm:  138

Candidate is Not Selected

## While loop

### write a program to print values from 1 to 10

In [10]:
i = 1 
while i <= 10:    
    print(i)    
    i += 1

1
2
3
4
5
6
7
8
9
10

### write a program to print values from 10 to 1

In [11]:
i = 10
while i >= 1:   
    print(i)   
    i -= 1

10
9
8
7
6
5
4
3
2
1

### write a program to print values from 5 to 15

In [12]:
i = 5 
while i <= 15:   
    print(i)     
    i += 1

5
6
7
8
9
10
11
12
13
14
15

### write a program to print values from 1 to entered number

In [13]:
n = int(input("Enter a number: "))
i = 1
while i <= n:    
    print(i)   
    i += 1

Enter a number:  8

1
2
3
4
5
6
7
8

### write a program to print entered name n number of times

In [14]:
name = input("Enter your name: ")
n = int(input("Enter number of times: "))
i = 1
while i <= n:    
    print(name)  
    i += 1

Enter your name:  Pranav
Enter number of times:  5

Pranav
Pranav
Pranav
Pranav
Pranav

### write a program to print table of 5

In [15]:
i = 1
while i <= 10:     
    print("5 x", i, "=", 5 * i)    
    i += 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

### write a program to print table of entered number

In [16]:
num = int(input("Enter a number: "))
i = 1
while i <= 10:    
    print(num, "x", i, "=", num * i)     
    i += 1

Enter a number:  3

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

### write a program to print values between two entered numbers

In [17]:
start = int(input("Enter starting number: ")) 
end = int(input("Enter ending number: "))
i = start 
while i <= end:    
    print(i)   
    i += 1

Enter starting number:  2
Enter ending number:  8

2
3
4
5
6
7
8

## For loop

### write a program to print factorial of entered number

In [20]:
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num + 1): 
    fact = fact * 1
    print("Factorial of", num, "is:", fact)

Enter a number:  6

Factorial of 6 is: 1
Factorial of 6 is: 1
Factorial of 6 is: 1
Factorial of 6 is: 1
Factorial of 6 is: 1
Factorial of 6 is: 1

### write a program to print sum of first five positive integers

In [21]:
sum = 0
for i in range(1, 6):
    sum = sum + i
    print("Sum of first five positive integers:", sum)

Sum of first five positive integers: 1
Sum of first five positive integers: 3
Sum of first five positive integers: 6
Sum of first five positive integers: 10
Sum of first five positive integers: 15

### write a program to check whether entered number is prime or not

In [25]:
num = int(input("Enter a number: "))

for i in range(2, num):
    if num % i == 0:
        print("Number is Prime")
else:
    print("Number is Not Prime")

Enter a number:  4

Number is Prime
Number is Not Prime

### write a program to print all even numbers between 1 to 20

In [23]:
for i in range(1, 21):
    if i % 2 == 0:
        print(i)

2
4
6
8
10
12
14
16
18
20

# strings

#### Print entered name in reverse order

In [1]:
name = input("Enter your name: ")

reverse_name = name[::-1]
print("Reversed name:", reverse_name)

Enter your name:  pranav

Reversed name: vanarp

#### Print every third character of entered string

In [2]:
text = input("Enter a string: ")

print("Every third character:")
for i in range(2, len(text), 3):
    print(text[i], end=" ")

Enter a string:  pranav

Every third character:
a v

#### Find number of characters in string (without using len())

In [3]:
text = input("Enter a string: ")

count = 0
for char in text:
    count += 1

print("Number of characters:", count)

Enter a string:  pranav

Number of characters: 6

#### Print number of vowels in entered string

In [10]:
text = input("Enter a string: ")

vowels = "aeiouAEIOU"
count = 0

for char in text:
    if char in vowels:
        count += 1

print("Number of vowels:", count)

Enter a string:  a

Number of vowels: 1

#### Check character presence, index positions, and count

In [1]:

text = input("Enter a string: ")

# Input character to search
ch = input("Enter a character to check: ")

# Check presence
if ch in text:
    print(f"Character '{ch}' is present in the string.")
else:
    print(f"Character '{ch}' is NOT present in the string.")

# Find index positions
positions = []
for i in range(len(text)):
    if text[i] == ch:
        positions.append(i)

# Display positions
if positions:
    print("Index positions:", positions)
else:
    print("No index positions found.")

# Count occurrences
count = 0
for c in text:
    if c == ch:
        count += 1

print("Total count:", count)

Enter a string:  pranav
Enter a character to check:  a

Character 'a' is present in the string.
Index positions: [2, 4]
Total count: 2

#### List

#### Sum of integer values present in a list

In [5]:
l=[25,63,78,12]
sum1=0
for i in l:
    sum1+=i
print(sum1)

178

In [10]:
my_list = input("Enter list elements separated by space: ").split()

total = 0
for item in my_list:
    if item.isdigit():
        total += int(item)

print("Sum of integer values:", total)

Enter list elements separated by space:  2 3 4

Sum of integer values: 9

#### Check whether entered name is present in employee list

In [8]:
employees = ["Pranav", "Amit", "Neha", "Ravi", "Sonal"]
name = input("Enter employee name to search: ")

if name in employees:
    print("Name is present in employee list")
else:
    print("Name is NOT present in employee list")

Enter employee name to search:  Pranav

Name is present in employee list

#### Print alternate elements of a list

In [9]:
items = input("Enter list elements separated by space: ").split()
print("Alternate elements:")
for i in range(0, len(items), 2):
    print(items[i])

Enter list elements separated by space:  a b d

Alternate elements:
a
d

#### Reverse a list without using reverse()

In [10]:
lst = input("Enter list elements separated by space: ").split()
rev_list = []

for i in range(len(lst)-1, -1, -1):
    rev_list.append(lst[i])

print("Reversed List:", rev_list)

Enter list elements separated by space:  a b c d e f

Reversed List: ['f', 'e', 'd', 'c', 'b', 'a']

#### Find largest number without using max()

In [9]:
numbers = [10, 45, 3, 89, 22]

largest = numbers[0]

for num in numbers:
    if num > largest:
        largest = num

print("Largest number:", largest)

Largest number: 89

#### Rotate list elements

In [12]:
lst = input("Enter list elements separated by space: ").split()

last = lst[-1]
for i in range(len(lst)-1, 0, -1):
    lst[i] = lst[i-1]

lst[0] = last
print("Rotated List:", lst)

Enter list elements separated by space:  a b d c e f

Rotated List: ['f', 'a', 'b', 'd', 'c', 'e']

#### Write a program to print the delete  a given word from a string

In [13]:
sentence = input("Enter a sentence: ")
word = input("Enter word to delete: ")

new_sentence = sentence.replace(word, "")
print("Updated sentence:", new_sentence)

Enter a sentence:  My Name is are pranav
Enter word to delete:  are

Updated sentence: My Name is  pranav

#### write a program to print capitalize first character of each word using function

In [4]:
text = input("Enter a sentence: ")
print("Output:", capitalize_words(text))

Enter a sentence:  my name is pranav

Output: My Name Is Pranav

## Dictionary

#### Check whether a given key exists in a dictionary

In [1]:
my_dict = {'a': 10, 'b': 20, 'c': 30}
key = 'b'
if key in my_dict:
    print("Key exists in the dictionary")
else:
    print("Key does not exist in the dictionary")

Key exists in the dictionary

#### Sum all the items (values) in a dictionary

In [4]:
my_dict = {'a': 15, 'b': 25, 'c': 30}
total = sum(my_dict.values())
print("Sum of values:", total)

Sum of values: 70

#### Multiply all the items (values) in a dictionary

In [6]:
my_dict = {'a': 6, 'b': 3, 'c': 4}
result = 1
for value in my_dict.values():
    result *= value
print("Multiplication of values:", result)

Multiplication of values: 72

#### Sort a dictionary by key

In [7]:
my_dict = {'b': 20, 'a': 10, 'c': 30}
sorted_dict = dict(sorted(my_dict.items()))
print("Sorted dictionary by key:", sorted_dict)

Sorted dictionary by key: {'a': 10, 'b': 20, 'c': 30}

#### Get the maximum and minimum value in a dictionary

In [8]:
my_dict = {'a': 10, 'b': 50, 'c': 5}
max_value = max(my_dict.values())
min_value = min(my_dict.values())
print("Maximum value:", max_value)
print("Minimum value:", min_value)

Maximum value: 50
Minimum value: 5